<html ng-app="smartgov">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">SmartGov</a>
      <div class="collapse navbar-collapse" id="navbarText">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
            <a class="nav-link" href="#">Latest<span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="#">Trending</a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="#">Local</a>
	  </li>
	</ul>
      </div>
    </nav>

    <div ng-controller="latestBillsViewController">
      <div class="bills-card" id="accordion">
	<div ng-repeat="bill in latestBills">
	  <div class="card">
	    <div class="card-block">
	      <div class="card-heading">
		<h8 class="card-title">
		  <b><a data-toggle="collapse" data-parent="#accordion" href="#{{ bill.bill_id }}">{{bill.bill_id}}</a></b>: {{bill.official_title}} -- {{bill.sponsor}}
		</h8>
		<div class="tweet-sentiment">
		  <h8>Twitter Sentiment:</h8>
		  <img ng-show="{{!bill.isPos && bill.isNeg}}" src="/views/static/negative.png" class="img-rounded" width="45" height="45">
		  <img ng-show="{{bill.isPos && !bill.isNeg}}" src="/views/static/positive.jpg" class="img-rounded" width="45" height="45">
		</div>
	      <div id={{bill.bill_id}} class="card-collapse collapse">
		<div class="card-body">
		  {{bill.summary}}
		</div>
	      </div>
	    </div>
	  </div>	  
	</div>
      </div
    </div>
  </body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script> 
  <script type="text/javascript" src="/js/app.js"></script> 
  <script type="text/javascript" src="/js/controllers/latest-bills-controller.js"></script>
</html>
